@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 257 47% 13%;
    --foreground: 0 0% 98%;
    --card: 257 40% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 257 47% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 256 34% 49%;
    --primary-foreground: 0 0% 98%;
    --secondary: 256 40% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 256 40% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 182 100% 74%;
    --accent-foreground: 257 47% 13%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 40% 25%;
    --input: 256 40% 25%;
    --ring: 182 100% 74%;
    --radius: 0.5rem;
    --chart-1: 256 34% 49%;
    --chart-2: 182 100% 74%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 257 47% 13%;
    --foreground: 0 0% 98%;
    --card: 257 40% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 257 47% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 256 34% 49%;
    --primary-foreground: 0 0% 98%;
    --secondary: 256 40% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 256 40% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 182 100% 74%;
    --accent-foreground: 257 47% 13%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 40% 25%;
    --input: 256 40% 25%;
    --ring: 182 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  pre, code {
    font-variant-ligatures: none;
  }
}
